/* style.css */

h1 {
  margin-bottom: 0.8em;
}

#slider {
  background-image: url('../images/hisaichi5518.jpg');
  height: 447px;
  margin: auto;
}

#keynote-info {
  background: #ffffff;
  padding: 16px;
}
